.user-eventos {
    display: flex;
    width: 100%;
    min-height: 90vh;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 !important;
}

.event-card {
    display: flex;
    height: max-content;
    padding: 10px !important;
    margin-bottom: 10px;
}

.event-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
}

.event-image {
    background-color: black;
}

.event-content > button {
    width: 200px;
}